.root-container {
  position: relative;
  padding-top: 15px;

  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-extension {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.get-extension-text {
  margin-right: 5px;
}
.get-extension-logo {
}

.body {
  width: 1000px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bottom {
  width: 100%;
  height: 75px;
  background-color: red;
}
.continue-with-twitter-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
}
.continue-with-twitter-button {
  margin-bottom: 10px;
}
